.item-detail {
  padding: 1em;
  max-width: 500px;
  margin: 0 auto;
}

.item-image {
  width: 100%;
  height: auto;
}

.item-detail__badge {
  background-color: lighten($color: #ff7f66, $amount: 5);
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  color: white;
  font-weight: 400;
}
